CREATE USER "j2ee-crowd" WITH NOCREATEDB;
ALTER USER "j2ee-crowd" WITH ENCRYPTED PASSWORD 'twPip5SZmUIuwO';

CREATE DATABASE "j2ee-crowd" ENCODING 'UNICODE';
GRANT ALL PRIVILEGES ON DATABASE "j2ee-crowd" TO "j2ee-crowd";
